# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
.venv/
env/
venv/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# MLflow
# =========================
mlruns/
mlflow.db
mlflow.db-journal

# =========================
# Model Artifacts
# =========================
models_artifacts/
*.pth
*.pt

# =========================
# Data
# =========================
data/raw/
data/processed/
*.csv

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Testing
# =========================
.pytest_cache/
coverage.xml
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker
# =========================
*.tar
